@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}


.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
/* hasta

xxxxxxxx

aqui  */

.home {
    padding: 0 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  
  @media (max-width: 700px) {
    .home {
      padding: 0 2rem;
    }
  }

  .home > h1 {
    font-size: 5.5rem;
    background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .home > a {
    font-size: 1.5rem;
  }

  .quote{
font-style: italic;  }

